name: Create Workload Infrastructure

on:
  workflow_dispatch:

jobs:
  create-azure-resources:
    env:
      REGION: "westus" # You can change this to reflect the region where you deploy your Accelerator
      AZURE_CORE_OUTPUT: "none" # Test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: Azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Debug secrets
        run: |
          echo "Resource Group: ${{ secrets.RESOURCE_GROUP_NAME }}"
          echo "Foundry Name: ${{ secrets.AZURE_FOUNDRY_RESOURCE_NAME }}"

      # Temp fix
      - name: bicep tmp fix
        run: az config set bicep.use_binary_from_path=false

      - name: deploy
        id: createResources
        run: |
          az deployment group create \
            --resource-group ${{ secrets.RESOURCE_GROUP_NAME }} \
            --name ${{ github.run_id }} \
            --template-file ./infra/workloads.bicep \
            --parameters ./infra/workloads.bicepparam foundryResourceName=${{ secrets.AZURE_FOUNDRY_RESOURCE_NAME }} \
            --query 'properties.outputs' \
            --output json > outputs.json

          echo "functionCrimeResourceName=$(jq -r '.functionCrimeResourceName.value' outputs.json)" >> $GITHUB_OUTPUT
          echo "containerRegistryResourceName=$(jq -r '.containerRegistryResourceName.value' outputs.json)" >> $GITHUB_OUTPUT
          echo "webAppResourceName=$(jq -r '.webAppResourceName.value' outputs.json)" >> $GITHUB_OUTPUT

      - name: Set secrets using gh CLI
        env:
          GH_TOKEN: ${{ secrets.PA_TOKEN }}
        run: |
          gh secret set FUNCTION_CRIMERE_SOURCENAME --body "${{ steps.createResources.outputs.functionCrimeResourceName }}"
          gh secret set CONTAINER_REGISTRY_NAME --body "${{ steps.createResources.outputs.containerRegistryResourceName }}"
          gh secret set MAGE_GUILD_WEB_API_RESOURCE_NAME --body "${{ steps.createResources.outputs.webAppResourceName }}"
