name: Create Capability Host

on:
    workflow_dispatch:

jobs:
    create-azure-resources:
        env:
            REGION: "westus" # You can change this to reflect the region where you deploy your Accelerator
            AZURE_CORE_OUTPUT: "none" # Test

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Azure Login
              uses: Azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            # Temp fix
            - name: bicep tmp fix
              run: az config set bicep.use_binary_from_path=false

            - name: Replace tokens
              uses: cschleiden/replace-tokens@v1.0
              with:
                  tokenPrefix: __
                  tokenSuffix: __
                  files: '["bicep/host.bicepparam"]'
              env:
                  aiSearchConnectionResourceName: ${{ secrets.AI_SEARCH_CONNECTION }}
                  azureStorageConnectionResourceName: ${{ secrets.AZURE_STORAGE_CONNECTION }}
                  azureStorageResourceName: ${{ secrets.AZURE_STORAGE_RESOURCENAME }}
                  cosmosDBConnectionResourceName: ${{ secrets.COSMOSDB_CONNECTION }}
                  cosmosDBNameResourceName: ${{ secrets.COSMOSDB_RESOURCE_NAME }}
                  foundryResourceName: ${{ secrets.AZURE_FOUNDRY_RESOURCE_NAME }}
                  projectNameResourceName: ${{ secrets.AZURE_FOUNDRY_PROJECT_RESOURCE_NAME }}
                  projectWorkspaceId: ${{ secrets.PROJECT_WORKSPACE_ID }}
                  resourceGroupName: ${{ secrets.RESOURCE_GROUP_NAME }}

            - uses: azure/arm-deploy@v2
              with:
                  scope: resourcegroup
                  resourceGroupName: ${{ secrets.RESOURCE_GROUP_NAME }}
                  deploymentName: ${{ github.run_id }}
                  template: ./infra/host.bicep
                  parameters: ./infra/host.bicepparam
