name: Build and deploy Mage Guild Web Api

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Azure Login
              uses: Azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Build and Push image
              run: |
                  az acr login -n ${{ secrets.CONTAINER_REGISTRY_NAME }}
                  az acr build -r ${{ secrets.CONTAINER_REGISTRY_NAME }} -t mage-guild-api:${{ github.sha }} .
              working-directory: src/apis/mage-guild-api

            - uses: azure/webapps-deploy@v2
              with:
                  app-name: ${{secrets.MAGE_GUILD_WEB_API_RESOURCE_NAME}}
                  images: "${{secrets.CONTAINER_REGISTRY_NAME}}.azurecr.io/mage-guild-api:${{ github.sha }}"
